---
layout: layouts/base.njk
pageClass: intro
---
  
<article class="intro">
  <div class="layout-spacer"></div>
  {% include "header-intro.njk" %}
  <header class="intro__header">
    <h1>Hi, I'm&nbsp;<br> <strong>Katherine Lee</strong></h1>
    <h2 title='You can do it pal!'>/'Katherine Lee/</h2>
  </header>
  <section class="intro-content">
    <h2>
      I'm a <a data-sonnet-event='click:LI' href="https://www.linkedin.com/in/katherinehopelee/">student</a> at Barnard College of Columbia University, studying Computer Science and Psychology.
    </h2>
    <p>
      I am interested in intergrating Immersive Technolgies with AI and how these technolgoies impact the mind. 
    </p>
    <p>
      In my free time, I enjoy <a href="/blog">writing</a>, <a href="https://potato.horse">drawing</a>
      and creating <a href='/projects'>things.
    </p>


  </section>
  <div class="intro__decor"></div>
</article>
